{
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "eqeqeq": 1,
    "no-irregular-whitespace": 1
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
  ]
}